{% load djangocms_twitter sekizai_tags %}
<div class="container-fluid" id="twitter">
    <h2 class="text-center"><a href="#" target="_blank">Twitter</a></h2>
    {% for status in instance.get_tweets %}
        <div class="media" id="tweet">
            <div class="media-left">
                <a href="https://twitter.com/{{ status.user.screen_name }}/status/{{ status.id_str }}" target="_blank">
                    {% if status.retweeted_status %}
                        <img class="media-object" src="{{ status.retweeted_status.user.profile_image_url }}">
                    {% else %}
                        <img class="media-object" src="{{ status.user.profile_image_url }}">
                    {% endif %}
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading">
                    {% if status.retweeted_status %}
                        {{ status.retweeted_status.user.name }}
                        <a href="https://twitter.com/{{ status.retweeted_status.user.screen_name }}" target="_blank">
                            <small>{{ status.retweeted_status.user.screen_name }}</small>
                        </a>
                    {% else %}
                        {{ status.user.name }}
                        <a href="https://twitter.com/{{ status.user.screen_name }}" target="_blank">
                            <small>{{ status.user.screen_name }}</small>
                        </a>
                    {% endif %}
                    <small class="pull-right">{{ status.created_at|twttr_strptime|timesince }}</small>
                </h5>
                <div class="content">
                    <p>
                        {% if status.retweeted_status %}
                            {{ status.retweeted_status|urlize_tweet }}
                        {% else %}
                            {{ status|urlize_tweet }}
                        {% endif %}
                    </p>
                    {% if status.retweeted_status %}
                        <h5>
                            <img src="https://g.twimg.com/dev/documentation/image/retweet.png">
                            <small> Retweeted by </small>
                            <a href="https://twitter.com/{{ status.user.screen_name }}" target="_blank">
                                <small>{{ status.user.name }}</small>
                            </a>
                        </h5>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>